@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=latin-ext');

*, *:hover, *:focus{
    outline: none;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%
}

body, html{
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: calc(100vh - 1px);
}

html{
    overflow-x: hidden;
    overflow-y: scroll;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: normal;
    background: #FFFFFF;
    color: #000000;
}

a, a:visited{
    text-decoration: none;
    color: #000000;
    transition: color 0.2s ease-in-out;
}
a:hover{
    color: #f93542;
}
main{
    padding: 16px;
    text-align: center;
}

.top{
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    background: #000000;
}

.navbar{
    margin: auto;
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 93px;
    padding: 0 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar .navbar__overlay{
    position: fixed;
    left: 100%;
    top: 93px;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.navbar .navbar__brand{
    display: block;
    max-height: 50%;
}
.navbar .navbar__brand img{
    display: block;
    width: auto;
    height: 100%;
}

.navbar .navbar__toggler{
    display: flex;
    width: 45px;
    height: 47px;
    padding: 10px 5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background: #000000;
    border: none;
    cursor: pointer;
}
.navbar .navbar__toggler::before, .navbar .navbar__toggler span, .navbar .navbar__toggler::after{
    content: '';
    display: block;
    height: 4px;
    font-size: 0;
    line-height: 0;
    opacity: 1;
    background: #FFFFFF;
    transform-origin: 50% 50%;
    transition: transform 0.2s ease-in, opacity 0.2s ease-in;
}
.navbar .navbar__toggler:hover span{
    opacity: 0.5;
}

.navbar .navbar__nav{
    position: fixed;
    right: 0;
    top: 93px;
    display: flex;
    height: calc(100vh - 93px);
    padding: 16px 0;
    transform: translateX(100%);
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    background: #000000;
    overflow-y: auto;
    transition: transform 0.2s ease-in-out;
}

.navbar .navbar__menu{
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
}

.navbar .navbar__link{
    display: block;
    padding: 16px 20px;
    font-size: 1.6rem;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}
.navbar .navbar__link.navbar__link--small{
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 1.4rem;
    text-transform: none;
    font-weight: 400;
}
.navbar .navbar__link.navbar__link--reverse{
    color: #f93542;
}

.navbar .navbar__item:hover > .navbar__link, .navbar .navbar__item.navbar__item--active > .navbar__link, .navbar .navbar__item.open > .navbar__link{
    color: #f93542;
}
.navbar .navbar__item:hover > .navbar__link.navbar__link--reverse, .navbar .navbar__item.navbar__item--active > .navbar__link.navbar__link--reverse, .navbar .navbar__item.open > .navbar__link.navbar__link--reverse{
    color: #FFFFFF;
}

.navbar .navbar__submenu{
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    background: #FFFFFF;
    max-height: unset;
    overflow-y: hidden;
    transition: max-height 0.2s ease-in-out, opacity 0.2s ease-in-out;
}
.navbar .navbar__submenu .navbar__link{
    color: #000000;
    font-weight: 400;
    text-transform: unset;
    font-size: 1.5rem;
}

.navbar__submenu, .navbar .navbar__item.navbar__item--active .navbar__submenu, .navbar .navbar__item.open .navbar__submenu{
    max-height: 100vh;
}

.navbar .navbar__item img{
    display: inline-block;
    vertical-align: middle;
    width: 22px;
    height: 22px;
    margin-right: 8px;
    object-fit: contain;
}

.navbar.open .navbar__overlay{
    left: 0;
    opacity: 1;
}

.navbar.open .navbar__nav{
    transform: translateX(0);
}

.navbar.open .navbar__toggler::before{
    transform: translate(0, 11px) rotate(45deg);
}
.navbar.open .navbar__toggler span{
    opacity: 0;
    transform: translateX(0);
}
.navbar.open .navbar__toggler::after{
    transform: translate(0, -12px) rotate(-45deg);
}

@media (min-width: 1200px){

    .navbar .navbar__overlay{
        display: none;
    }

    .navbar .navbar__toggler{
        display: none;
    }

    .navbar .navbar__nav{
        position: static;
        left: 0;
        top: 0;
        transform: translateX(0);
        height: 100%;
        padding: 15px 0 0 0;
        flex-direction: column-reverse;
        align-items: flex-end;
        overflow: visible;
    }

    .navbar .navbar__item{
        position: relative;
        display: inline-block;
        overflow: visible;
    }

    .navbar .navbar__link{
        padding: 10px 25px;
    }

    .navbar .navbar__submenu{
        position: absolute;
        left: 0;
        top: calc(100% - 4px);
        background: #FFFFFF;
        border-top: 4px solid #f93542;
        opacity: 0;
        max-height: 0;
    }

    .navbar .navbar__submenu .navbar__item{
        display: block;
        white-space: nowrap;
    }

    .navbar .navbar__item.navbar__item--active .navbar__submenu, .navbar .navbar__item.open .navbar__submenu{
        opacity: 0;
        max-height: 0;
    }
    .navbar .navbar__item:hover .navbar__submenu, .navbar .navbar__item.navbar__item--active:hover .navbar__submenu, .navbar .navbar__item.open:hover .navbar__submenu{
        opacity: 1;
        max-height: 100vh;
    }

}